/*-- -------------------------- -->
<---     GLOBAL STYLING         -->
<--- -------------------------- -*/
@media screen and (min-width: 0px) {
  body {
    font-size: 17px;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  * ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  * ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  .section {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  body,
  html,
  p {
    font-family: "Open-sans", sans-serif;
  }
  p {
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    line-height: 1em;
  }
  .container {
    padding: 0 0.5em;
  }
}

/*---------------------------->
<---      NAVIGATION        -->
<----------------------------*/
.navbar {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  background: rgb(34,34,34);
  background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgb(37, 37, 37) 100%);
  color: white;
  padding: 0.4em;
  font-size: 1em;
}
.brand-title {
  margin: 0.6em;
}
.navbar-links {
  text-align: center;
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li:hover {
  background-color: #1864c4;
}
.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.9em;
  transition: 0.4s;
}
.navbar-links li a:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .navbar {
  justify-content: center; 
  }
}

/*-- -------------------------- -->
<---        Home Page           -->
<--- -------------------------- -*/
main {
  width: 100%;
  height: 100vh;
  min-height: 50em;
}
/*-- -------------------------- -->
<---          Hero              -->
<--- -------------------------- -*/
.hero {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 90vh;
  border-bottom: 0.5px solid black;
}

.hero-title {
  font-size: 2.8em;
  font-family: "Montserrat", sans-serif;
}
.hero .hero-right-area {
  background: whitesmoke;
  padding: 1.2em;
  display: grid;
  align-content: center;
  justify-content: center;
  padding-top: 2.5em;
  padding-bottom: 0.8em;
  order: 1;

}
.hero .hero-right-area p {
  margin-bottom: 2.9em;
}

.hero-page-links a {
  color: #000;
  text-decoration: none;
  font-size: 1em;
  &:hover {
    text-decoration: underline;
  }

}

.hero-page-links h2 {
  font-size: 1.3em;
  padding-top: 0.6em;
  padding-bottom: 0.2em;
}

/*-- -------------------------- -->
<---      Skills section        -->
<--- -------------------------- -*/

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 4em;
  padding-left: 9vw;
  padding-right: 4vw;
  font-size: 0.9em;
  line-height: 1.8em;
  
  h3 {
    padding-bottom: 0.5em;
    font-size: 1.3em;
  }

  ul {
      color: #4b4b4b;
      list-style-type: circle;
  }
}

.skills-icon {
  width: 0.8em;
  padding-top: 0.4em;
}

.skills-heading-style {
  font-size: 1.6em;
  font-weight: bold;
}

.skills-container ul {
  font-size: 0.9em;
  font-weight: 600;
}

/* // Creating short border under skills heading */
.skills-heading-style:after {
    content: ""; 
    display: block; 
    width: 75%; 
    padding-top: 2px; 
    padding-bottom: 3px;
    border-bottom: 0.9px solid rgb(118,120,130); 

}

.homepageLink a{
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.homepageLink-blog a{
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  padding-left: 1em;
  padding-bottom: 0.8em;
  &:hover {
    cursor: pointer;
    /* color: ; */
    text-decoration: underline;
  }
}

.hero .hero-left-area {
display: grid;
padding: 1.2em;
padding-left: 2em;
align-content: center;
background: rgb(231,170,9);
background: linear-gradient(90deg, rgba(231,170,9,1) 0%, rgba(255,202,108,1) 100%);
order: -1;


  .hero-description {
    font-size: 1.1em;
    padding-top: 0.6em;
    padding-bottom: 0.8em;
    padding-right: 0.6em;
    line-height: 1.6em;
    text-wrap:wrap;
  }
  .social-btn-container {
    display: flex;
  }
  
  .social-btn {
    color: #000 !important;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.7em;
    margin: 0.5em;
    border: 1.5px solid rgb(62, 62, 62);
    border-radius: 6px 12px 6px 12px;
    width: 5em;
    height: 4.2em;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition:0.2s ease-in;
    }
  
  
  }
  
  .google-btn {
  background-color:#4d8ff8;
  
  &:hover {
    background-color:#70a2f2;
    
  }
  }
  .linkedin-btn {
  background-color:#0072b1;
  
  &:hover {
      background-color:#2087be;
  }
  }
  .github-btn {
  background-color: #566271;
  &:hover {
      background-color: #6b7076;
  }
  }
}
/*-- -------------------------- -->
<---         About Page         -->
<--- -------------------------- -*/
.image-container {
  display: flex;
  justify-content: center;
}
.about-image {
  border-radius: 12px;
  background-image: url('./images/about-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 11em;
  height: 11em; 
  margin-bottom: 0.6em;
  margin-right: 4vw;
  margin-top: 1em;
}

.hero-right-area h2 {
  padding-bottom: 0.4em;
}

.mock-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24em;  
  padding-bottom: 0.6em;
}

@media (max-width: 500px) {
  .mock-resume {
    width: 20em;
  }
}

.resume-link {
  font-size: 1.2em;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

/*-- -------------------------- -->
<---         Blog Page          -->
<--- -------------------------- -*/
  .blog {
    min-height: 90%;
    padding-top: 1.2em;
    padding-bottom: 1em;
    margin-top: 2em;
  }
  .blog h2 {
    font-size: 2.6em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
  }
  .blog h3 {
    margin-top: 0.6em;
    margin-bottom: 0.4em;
  }
  .blog .blog-area {
    display: grid;
  }
  .blog .blog-item {
    color: #000;
    margin: 0.9em;
    margin-bottom: 0.6em;
    padding: 1.4em 0.8em 0.6em 0.8em;
    border-radius: 0.4rem;
    overflow: hidden;
    background-color: rgba(240, 240, 240, 0.5);
    display: grid;
    justify-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: all 150ms ease-in-out;
    text-decoration: none;
    font-weight: 400;
    &:visited {
      color: #000;
    }
  }
  /* .blog .blog-item:hover {
    transform: scale(1.03);
  } */

  .blog-date-publish {
    color:#646566;
    font-size: 0.8em;
    font-weight: bold;
  }

  .blog 
  .blog-1:hover, 
  .blog-2:hover,
  .blog-3:hover, 
  .blog-4:hover, 
  .blog-5:hover {
    transform: scale(1.03);
  }

  .blog .blog-image {
    border-radius: 0.4rem;
  }
  .blog .blog-image-1 {
    background-image: url('./images/blog_1_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 11em;
    height: 11em;
  }
  .blog .blog-image-2 {
    background-image: url('./images/blog_2_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 11em;
    height: 11em;
  }
  .blog .blog-image-3 {
    background-image: url('./images/blog_3_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 11em;
    height: 11em;
  }
  .blog .blog-image-4 {
    background-image: url('./images/blog_4_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 11em;
    height: 11em;
  }
  .blog .blog-image-5 {
    background-image: url('./images/blog_5_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 11em;
    height: 11em;
  }
  .blog .blog-description {
    text-align: center;
    padding-bottom: 1.2em;
    font-size: 0.9em;
  }  

/*-- -------------------------- -->
<---     Contact  Page          -->
<--- -------------------------- -*/

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.contact-email {
  font-size: 1.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

/*-- -------------------------- -->
<---         Footer             -->
<--- -------------------------- -*/
.footer {
  background: rgb(34,34,34);
  background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgb(37, 37, 37) 100%);
  padding-top: 1em;
  height: 12vh;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  .footer-social-btn {
    border-radius: 8px;
    padding: 0.4em;
    margin-right: 0.7em;
    margin-bottom: 1em;
    border: 0.5px solid black;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      transform: scale(1.05);
      transition:0.2s ease-in;
    }
  }
  .footer-copyright {
    font-size: 0.9em;
  }
}

.google-footer {

  &:hover {
    background-color: #4285F4;
  }
  &:visited {
    color: #000;
  }
}

.linkedin-footer {

  &:hover {
    background-color: #0072b1;
  }
  &:visited {
    color: #000;
  }
}

.github-footer {

  &:hover {
    background-color: #6b7076;
  }
  &:visited {
    color: #000;
  }
}

  /*-- -------------------------- -->
  <---         MEDIA QUERIES      -->
  <--- -------------------------- -*/
  /* Ipad Pro */
  /* Tablets */
  /* Small Desktop */
  /* Regular Desktop */
  @media only screen and (min-width: 2000px) {
    body {
      font-size: 1vw;
    }
  }
  /* Large Desktop */
  @media only screen and (min-width: 2000px) {
    body {
      font-size: 1vw;
    }
  }
  
  @media (min-width: 51em) {
    .hero {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width: 0px) {
    .blog-area {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 500px) {
    .footer-copyright {
      display: none;
    }
  }
  /* Ipad Pro */
  @media screen and (min-width: 450px) and (max-width: 991px) {
    .blog-area {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  /* Tablets */
  @media screen and (min-width: 750px) and (max-width: 1023px) {
    .blog-area {
      grid-template-columns: repeat(2, 1fr);
    }

  }
  /* Small Desktop */
  @media screen and (min-width: 1024px) {
    .blog-area {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /* Regular Desktop */
  @media only screen and (min-width: 2000px) {
    .blog-area {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  /* Large Desktop */